In [ ]:
Introduction to lit datatype:

In [ ]:
Definition: A list is acollection of item declared in aparticular order
    classification:it sis classified as mutable datatype
How to Declare the list datatype......?[]

In [9]:
students=['somu','giri','kumar','lakshmi','kanthamma','muni']

In [10]:
# 0,1,2,3,4,5[Position of the names in the list]

In [11]:
print(students)

['somu', 'giri', 'kumar', 'lakshmi', 'kanthamma', 'muni']

In [12]:
type(students)

list

In [ ]:
#How to access the abov elements in the list....?

In [ ]:
Introducing indexing 0,1,2,3,.....

In [ ]:
# I want to access the Kumar from the list...?

In [16]:
print(students[2])

kumar

In [ ]:
1.How to add the new element to the list
2.How to mmodify the element in the list
3.How to delete the elements in the list

In [17]:
print(students)

['somu', 'giri', 'kumar', 'lakshmi', 'kanthamma', 'muni']

In [ ]:
#I want to add the sachin name to the above list

In [21]:
students.append('sachin')

In [22]:
print(students)

['somu', 'giri', 'kumar', 'lakshmi', 'kanthamma', 'muni', 'sachin']

In [ ]:
# Addng another name to the list

In [23]:
students.append('mouni')

In [24]:
print(students)

['somu', 'giri', 'kumar', 'lakshmi', 'kanthamma', 'muni', 'sachin', 'mouni']

In [ ]:
# I want to add the malik name in the 2nd index....?

In [29]:
students.insert(2,'malik')

In [28]:
print(students)

['somu', 'giri', 'malik', 'kumar', 'lakshmi', 'kanthamma', 'muni', 'sachin', 'mouni']

In [41]:
print(students[2])

malik

In [ ]:
# What is the difference between the append and insert in the list....? Interview question

In [ ]:
# How to modify the elements in the list...?

In [42]:
print(students)

['somu', 'giribabu', 'malik', 'malik', 'kumar', 'lakshmi', 'kanthamma', 'muni', 'sachin', 'mouni']

In [ ]:
# I want t modify giri name as 'giribabu'

In [33]:
print(students[1])

giri

In [35]:
students[1]='giribabu'

In [37]:
print(students[1])

giribabu

In [38]:
print(students)

['somu', 'giribabu', 'malik', 'malik', 'kumar', 'lakshmi', 'kanthamma', 'muni', 'sachin', 'mouni']

In [ ]:
#How to delete the element in the list

In [40]:
print(students)

['somu', 'giribabu', 'malik', 'malik', 'kumar', 'lakshmi', 'kanthamma', 'muni', 'sachin', 'mouni']

In [ ]:
# I want to delete the 'malik name in the list'

In [43]:
del students[2]

In [44]:
print(students)

['somu', 'giribabu', 'malik', 'kumar', 'lakshmi', 'kanthamma', 'muni', 'sachin', 'mouni']

In [46]:
del students[2]

In [47]:
print(students)

['somu', 'giribabu', 'kumar', 'lakshmi', 'kanthamma', 'muni', 'sachin', 'mouni']